<!DOCTYPE html>
<html>

<head>
    <title>AI Career Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>CareerPilot AI</h1>

            <p>
                Upload your resume and discover how well
                you match your desired career role.
            </p>

            <form action="/upload" method="POST" enctype="multipart/form-data">

                <label>Upload Resume</label>

                <input type="file" name="resume" required>

                <label>Enter Your Desired Role</label>

                <input
                    type="text"
                    name="desired_role"
                    placeholder="Example: AI Engineer"
                    required
                >

                <button type="submit">
                    Analyze Resume
                </button>

            </form>

        </div>

    </div>

</body>

</html>
